table {
    border-collapse: collapse;
}
th, td {
    padding: 10px 50px 10px 5px;
    text-align: left;
    font-family: sans-serif;
    font-size: small;
}
th {
    color: orangered;
    background-color: grey;
    border-top: 5px solid black;
}
td {
    color: orange;
    background-color: grey;
    border-top: 3px solid black;
}